*.c
*.o
*.stamp
*.stamp-t
configure
config.h
config.h.in
*~
.*.swp
config.status
*.log
autom4te*
autoscan*
*.a
*.la
*.lo
.libs
libtool
stamp-h1
.dirstamp
*.so
vex.vapi
*.deps
*.h
Makefile.in
Makefile
auxdir
aclocal.m4
.deps
INSTALL
config.h
config.h.in
m4
